/* h1 section */
.cherry{
    color: orange;
    text-transform: uppercase;
}

.cherry .ss .mission .color .clone .berry .class .otto{
    font-family: 'Roboto', sans-serif;
}







.hh1{
    margin-left: 42px;
    margin-right: 75px;
}



.my div{
    min-height: 50%;
}



.brok{
    border: 5px solid #171717;
    border-radius: 60px;
}

.ss{
    color: orange;
    font-size: 3rem;
}

/* margins applied to bottom image so it aligns with content */
.span{
    margin-left: 42px;
    margin-right: 75px;
}


.d-block{
    border: 10px solid #171717;
    border-radius: 10px;
}

p{
    color: yellow;
}




body{
    background-color: #171717;
}




.nav-link{
    color: darkorange;
}

/* nav link hover */
.nav-link:hover{
    background-color: yellow;
    color: black;
}



/* h2 heading to lower image section */
.mission{
    color: azure;
    font-size: 3rem;
    text-align: center;
    border-bottom: 1px solid grey;
}


.span img{
    border: 10px solid #171717;
    border-radius: 30px;
}


/* footer section */
.original{
    background-color: #171717;
    border: 3px solid #171717;
    margin-left: 42px;
    margin-right: 75px;
}


.color{
    color: darkorange;
}

.ctrl{
    list-style-type: square;
    color: green;
    border-bottom: 1px solid white;
}




/* about.html page styles */

.clone{
    color: black;
}

.class{
    color: #ff4500;
}

.second{
    background-image: url("https://i.postimg.cc/d1ZHKz6P/question-mark-background-1909040-1280.png");
}

.paragraph{
    color: #ffffff;
}


.berry{
    text-align: center;
    font-size: 3rem;
    color: #ff8c00;
}




h2{
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.otto{
    color: #ffffff;
}


.type{
    color: #ffffff;
    text-transform: uppercase;
}



.btn{
    border: 5px solid #ff8c00;
    border-radius: 20px;
    background-color: #ff4500;
    color: antiquewhite;
}





